@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-red: #e84444;
  --main-red: #d01946;
  --dark-red: #802954;

  --light-brown: #d1851e;
  --main-brown: #895a45;
  --dark-brown: #523b40;

  --primary-text: #FFFFFF;
  --secondary-text: #523b40;
  --disabled-text: #3d253b;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #25131a;
  --background-end-rgb: var(--background-start-rgb);
}


body {
  color: var(--primary-text);
  background: var(--background-start-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
